.navbar-nav .nav-link.active {
    font-weight: bold;
    background-color: lightskyblue;
}

.navbar .nav-link:hover {
    text-decoration: underline;
}

h1 {
    text-decoration: underline;
}

table th, table td {
    border: 10px groove;
    padding: 2px 3px;
    border-collapse: collapse;
}

table th {
    text-align: center;
}

.precio :not(:first-child) {
    text-align: right;
}

.total :not(:first-child){
    text-align: right;
    font-weight: bold;
}

.total :first-child {
    text-align: center;
    font-weight: bold;
}

.t-head th {
    width: 300px;
}

.t-head :first-child {
    background-color: blue;
}

.t-head :not(:first-child) {
    background-color: red;
}

.base-head th {
    width: 400px;
}