{% extends 'base.html' %}
{% load static %}

{% block content %}
<h4 class="text-center">Fusión de columnas</h4>
<div class="d-flex justify-content-center">
    <table class="fusion-columna">
        <tr>
            <td colspan="3">A</td>
            <td>B</td>
        </tr>
        <tr>
            <td>C</td>
            <td colspan="2">D</td>
            <td>E</td>
        </tr>
        <tr>
            <td colspan="4">F</td>
        </tr>
        <tr class="last-row">
            <td>G</td>
            <td>H</td>
            <td>I</td>
            <td>J</td>
        </tr>
    </table>
</div>
{% endblock %}