{% extends 'base.html' %}
{% load static %}

{% block content %}
<h4 class="text-center">Fusión de filas</h4>
<div class="d-flex justify-content-center">
    <table class="fusion-filas">
        <tr class="first-row">
            <td>A</td>
            <td>B</td>
            <td rowspan="3">C</td>
            <td>D</td>
        </tr>
        <tr class="first-row">
            <td rowspan="2">E</td>
            <td>F</td>
            <td rowspan="3">G</td>
        </tr>
        <tr>
            <td>H</td>
        </tr>
        <tr class="first-row">
            <td>I</td>
            <td>J</td>
            <td>K</td>
        </tr>
    </table>
</div>
{% endblock %}